.action_bar {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  height: 28px;
  background: rgba(37, 38, 43, 0.6);
  backdrop-filter: blur(1px) saturate(160%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px -2px 6px 1px;
  // width: calc(100% - 20px);
}